<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-user_id" class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="{$row.user_id}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-consignee" class="control-label col-xs-12 col-sm-2">{:__('Consignee')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-consignee" data-rule="required" class="form-control" name="row[consignee]" type="text" value="{$row.consignee}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" data-rule="required" class="form-control" name="row[mobile]" type="text" value="{$row.mobile}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-province" class="control-label col-xs-12 col-sm-2">{:__('Province')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-province" data-rule="required" class="form-control" name="row[province]" type="text" value="{$row.province}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-city" class="control-label col-xs-12 col-sm-2">{:__('City')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class='control-relative'><input id="c-city" data-rule="required" class="form-control" data-toggle="city-picker" name="row[city]" type="text" value="{$row.city}"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="c-district" class="control-label col-xs-12 col-sm-2">{:__('District')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-district" data-rule="required" class="form-control" name="row[district]" type="text" value="{$row.district}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-detail" class="control-label col-xs-12 col-sm-2">{:__('Detail')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-detail" data-rule="required" class="form-control" name="row[detail]" type="text" value="{$row.detail}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-is_default" class="control-label col-xs-12 col-sm-2">{:__('Is_default')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_default" data-rule="required" class="form-control selectpicker" name="row[is_default]">
                {foreach name="isDefaultList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.is_default"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label for="c-status" class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
